/*
    Atom One Dark by Daniel Gamage
    Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

    Theme: Default
    Description: Original highlight.js style
    Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
    Maintainer: @highlightjs/core-team
    Website: https://highlightjs.org/
    License: see project LICENSE
    Touched: 2021
*/

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}
code.hljs {
    padding: 3px 5px
}

[data-bs-theme="light"] {
    pre code.hljs {
    display: block;
    overflow-x: auto;
        padding: 1em
    }

    code.hljs {
        padding: 3px 5px
    }

    /* end baseline CSS */
    .hljs {
    background: #F3F3F3;
        color: #444
    }

    .hljs-comment {
        color: #697070
    }

    .hljs-tag,
    .hljs-punctuation {
        color: #444a
    }

    .hljs-tag .hljs-name,
    .hljs-tag .hljs-attr {
        color: #444
    }

    .hljs-keyword,
    .hljs-attribute,
    .hljs-selector-tag,
    .hljs-meta .hljs-keyword,
    .hljs-doctag,
    .hljs-name {
        font-weight: bold
    }

    .hljs-type,
    .hljs-string,
    .hljs-number,
    .hljs-selector-id,
    .hljs-selector-class,
    .hljs-quote,
    .hljs-template-tag,
    .hljs-deletion {
        color: #880000
    }

    .hljs-title,
    .hljs-section {
        color: #880000;
        font-weight: bold
    }

    .hljs-regexp,
    .hljs-symbol,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-link,
    .hljs-selector-attr,
    .hljs-operator,
    .hljs-selector-pseudo {
        color: #ab5656
    }

    .hljs-literal {
        color: #695
    }

    .hljs-built_in,
    .hljs-bullet,
    .hljs-code,
    .hljs-addition {
        color: #397300
    }

    .hljs-meta {
        color: #1f7199
    }

    .hljs-meta .hljs-string {
        color: #38a
    }

    .hljs-emphasis {
        font-style: italic
    }

    .hljs-strong {
        font-weight: bold
    }
}

[data-bs-theme="dark"] {
    .hljs {
        color: #abb2bf;
        background: #282c34
    }

    .hljs-comment,
    .hljs-quote {
        color: #5c6370;
        font-style: italic
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-formula {
        color: #c678dd
    }

    .hljs-section,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-deletion,
    .hljs-subst {
        color: #e06c75
    }

    .hljs-literal {
        color: #56b6c2
    }

    .hljs-string,
    .hljs-regexp,
    .hljs-addition,
    .hljs-attribute,
    .hljs-meta .hljs-string {
        color: #98c379
    }

    .hljs-attr,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-type,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-number {
        color: #d19a66
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-title {
        color: #61aeee
    }

    .hljs-built_in,
    .hljs-title.class_,
    .hljs-class .hljs-title {
        color: #e6c07b
    }

    .hljs-emphasis {
        font-style: italic
    }

    .hljs-strong {
        font-weight: bold
    }

    .hljs-link {
        text-decoration: underline
    }

}