[data-bs-theme="light"] {
    --pf-sidebar-color: #fff;
    --pf-sidebar-link-color: #333;

    --pf-text-color: rgba(255, 255, 255, 0.87);

    --pf-link-color: #646cff;
    --pf-link-hover-color: #535bf2;

    --pf-header-border: #e0e0e0;
    --pf-header-title: #1e3c72;
    --pf-header-subtitle: #555;

    --pf-feature-card-bg: rgba(251, 252, 242, 0.8);
}

[data-bs-theme="dark"] {
    --pf-sidebar-color: #000;
    --pf-sidebar-link-color: #d4d4d4;

    --pf-text-color: rgba(255, 255, 255, 0.87);

    --pf-link-color: #646cff;
    --pf-link-hover-color: #535bf2;

    --pf-header-border: #505050;
    --pf-header-title: rgb(126, 144, 179);
    --pf-header-subtitle: #c0bebe;

    --pf-feature-card-bg: rgba(39, 39, 39, 0.8);
}