---
import { MdBlockQuote } from '../../lib/markdown.js';
import Markdown from '../markdown.astro';

const { item } = Astro.props as { item: MdBlockQuote };
---
<div class="card col-md-9 mb-5">
    {item.heading && (
        <div class="card-header">
            <strong>{item.heading}</strong>
        </div>
    )}
    <div class="card-body">
        <Markdown items={item.content} />
    </div>
</div>