.van {
    background-image: url(/shawarma/van.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 60px;

    position: fixed;
    z-index: 9999;
}

.dvd {
    background-image: url(/shawarma/dvd.png);
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;

    position: fixed;
    z-index: 9999;

    animation: spin 20s linear infinite;
}
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

.crown {
    position: relative;

    /* Prevent text selection */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.crown::before {
    content: '';
    background: url(/shawarma/crown.png) no-repeat center/contain;
    opacity: var(--before-opacity, 0); 

    width: 16px;
    height: 16px;

    /* Positioning to be just on top of the parent element */
    position: absolute;
    top: -4px;
    left: -2px;
}

.splatometer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
    background: url(/shawarma/splat.png) no-repeat center/contain;
    z-index: 9999;

    font: bold 21px 'Arial', sans-serif;
    color: red;

    text-align: center;
    padding: 55px 0 0 0;
}